<div fxLayout="row">
	<my-dinner fxFlex="280px"></my-dinner>


    <div *ngIf="dish" fxFlex>

		<div class="toplevel-row" fxLayout="row" fxLayoutAlign="start center">
    		<button fxLayoutAlign="end" md-raised-button routerLink="/select-dish" (click)=addDish() style="margin: 10px 10px 0 10px;height:50px">Add dish to menu</button>

    		<div fxFlex fxLayoutAlign="end center">
	    		<button md-raised-button routerLink="/select-dish" style="margin-right:20px;height:50px">Back and edit dinner</button>
    		</div>
		</div>

		<div fxLayout="row" fxLayoutAlign="start" style="width:100%">
			<div fxLayout="column" fxFlex style="margin:10px 10px 10px 10px; width:300px">
				<h4 style="height:50px">{{dish.name}}</h4>
				<img src="{{dish.imageUrl}}" style="width:250px;height:250px">
				<div style="max-height:300px;overflow-y:scroll;border:solid 1px;margin-top:15px;">
					<h4 style="margin-left:10px">Preparation</h4>
					<div [innerHTML]="dish.instructions" style="margin:0 10px 0 10px;"></div>
				</div>
			</div>

			<div style="margin-right:20px;border:solid 1px;height:100%" fxFlex="400px">
				<md-list style="margin-bottom:5px">
					<h3 fxLayoutAlign="center">Ingredients</h3>
					<md-list-item *ngFor="let ingredient of dish.ingredients" style="height:50px">
						<h4 md-line style="white-space:normal">{{ingredient.amount * this.dishService.numberOfGuests}} {{ingredient.unit}}   {{ingredient.name}}</h4>
	      				<p md-line class="demo-2">$ {{this.dishService.numberOfGuests}}</p>
	      				<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</div>
		</div>
	</div>

	<div *ngIf="isLoading" fxLayoutAlign="center start" fxFlex style="margin-top:50px">
		<md-progress-circle style="height:150px;width:150px" mode="indeterminate" color="primary"></md-progress-circle>
	</div>
</div>
