.wrapper {
  border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
  background-color: #f7f7f7;
}

.text {
	font-family:Palatino;
	font-weight: bold;
}
