.transbox {
	width: 420px;
	margin-left: 30px;
	margin-top: 150px;
	background-color: white;
	border: 1px solid black;
	opacity: 0.6;
}
.boxcontent {
	margin: 15px;
}
.largetext {
	font-size: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.line-separator {
	height:1px;
	background:#717171;
}
