<!-- <div id = "myDinnerView" class="col-lg-2 col-md-2 col-xs-2" style="padding:0; border-right:solid 1px;height:100%">
  <div style="margin-left:5%">
    <h3 style="margin:auto;margin-top:10px;text-align:center;font-family:Palatino">My Dinner</h3>
    <div class="side" style="margin-top:10px">
      <p style="width: 75px;margin-left:35px">People</p>
    </div>
    <md-select placeholder="Number of guests" [(ngModel)]="numberOfGuests">
      <md-option *ngFor="let num of nums" [value]="num">
        {{ num }}
      </md-option>
    </md-select>

    <table class="table table-hover" id="myTable">
      <tr style="background-color: gray" id="tableHeader">
        <th>Dish Name</th>
        <th>Cost</th>
      </tr>
      <tr>
        <th>Total cost: </th>
        <th id="totalMenuCost">SEK 0.00</th>
      </tr>
    </table>
    <button type="button" class="myButton" style="margin-left:25px;margin-top:25px;margin-right:25px;" id="confirmButton">Confirm Dinner</button>
  </div>
</div> -->
<div style="background-color:gray">
  <div style="margin-left:20px;margin-top:30px">
    <md-select placeholder="Number of guests" [(ngModel)]="numberOfGuests">
      <md-option *ngFor="let num of nums" [value]="num">
        {{ num }}
      </md-option>
    </md-select>
  </div>
  <div>{{numberOfGuests}}</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
  <div>HEJ</div>
</div>
