<!-- OLD VERSION -->
<!-- <div id = "myDinnerView" class="col-lg-2 col-md-2 col-xs-2" style="padding:0; border-right:solid 1px;height:100%">
  <div style="margin-left:5%">
    <h3 style="margin:auto;margin-top:10px;text-align:center;font-family:Palatino">My Dinner</h3>
    <div class="side" style="margin-top:10px">
      <p style="width: 75px;margin-left:35px">People</p>
    </div>
    <md-select placeholder="Number of guests" [(ngModel)]="numberOfGuests">
      <md-option *ngFor="let num of nums" [value]="num">
        {{ num }}
      </md-option>
    </md-select>

    <table class="table table-hover" id="myTable">
      <tr style="background-color: gray" id="tableHeader">
        <th>Dish Name</th>
        <th>Cost</th>
      </tr>
      <tr>
        <th>Total cost: </th>
        <th id="totalMenuCost">SEK 0.00</th>
      </tr>
    </table>
    <button type="button" class="myButton" style="margin-left:25px;margin-top:25px;margin-right:25px;" id="confirmButton">Confirm Dinner</button>
  </div>
</div> -->
<div class="my-dinner-box">
  <div class="boxcontent">
    <h2>My Dinner</h2><br />
    <md-select placeholder="Number of guests" [(ngModel)]="numberOfGuests">
      <md-option *ngFor="let n of numberOfGuestsOptions" [value]="n">
        {{ n }}
      </md-option>
    </md-select>

  </div>

  <md-list>
    <h3 md-subheader>Appetizers</h3>
    <md-list-item *ngFor="let dish of getDishes('appetizer')">
      <md-icon md-list-icon>restaurant</md-icon>
      <h4 md-line>Name: {{dish.name}}</h4>
      <p md-line class="demo-2">Cost: {{dish.unitCost * numberOfGuests}} </p>
    </md-list-item>

    <md-divider></md-divider>
    <h3 md-subheader>Main Dishes</h3>
    <md-list-item *ngFor="let dish of getDishes('main dish')">
      <md-icon md-list-icon>restaurant</md-icon>
      <h4 md-line>Name: {{dish.name}}</h4>
      <p md-line class="demo-2">Cost: {{dish.unitCost * numberOfGuests}} </p>
    </md-list-item>
  </md-list>
</div>
