<overview-header></overview-header>
<div class="preparation" fxLayout="column" fxLayoutAlign=" center">
  <div class="dish-info" fxLayout="row" *ngFor="let dish of dishService.dishesInMenu">
    <div class="side-content" fxFlex="50" fxLayout="row" fxLayoutAlign="start start">
      <img class="dish-image" fxFlex="150px" src="{{dish.imageUrl}}">
      <div fxFlex fxLayout="column" fxFlexOffset="20px" fxLayoutAlign="start start">
        <div class="dish-name">{{dish.name}}</div>
        <div>
          Lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor
          lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor
        </div>
      </div>
    </div>
    <div class="scroll-box side-content" fxFlex="50" fxLayout="column">
      <div class="scroll-content">
        <div class="preparation-header">
          PREPARATION
        </div>
        <div [innerHTML]="dish.instructions"></div>
      </div>
    </div>
  </div>
</div>
