/* You can add global styles to this file, and also import other style files */

.side {
  display:inline-block;
}

body {
  min-width: 1000px;
}
html, body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

/* Special styles for components */
create-new-dinner {
  flex: 1 1 auto; /* fill the screen vertically */
  background: url("assets/img/people-eating.jpg");
  background-size: cover;
}
