
<div style="font-family:Palatino;padding:0;background:#ffe435;overflow:hidden">
	<div style="margin-left:20px">
		<h2>SELECT DISH</h2>
		<div fxLayout="row" fxLayoutAlign="start center">

			<md-input-container>
	  			<input mdInput placeholder="Key word" [(ngModel)]="keyWord">
			</md-input-container>
			<button md-raised-button color="primary" style="margin-left:7px;height:30px;line-height:0" (click)=searchDishes()>Search</button>

			<md-select placeholder="Food type" [(ngModel)]="selectedFoodType" style="margin-left:7px">
				<md-option *ngFor="let foodType of foodTypes" [value]="foodType">
					{{foodType}}
	  			</md-option>
			</md-select>
		</div>
	</div>
</div>

<div *ngIf="!dishService.isLoadingDishes">
	<div style="margin-bottom:10px" fxLayout="row" fxLayoutWrap fxLayoutAlign="start center">
		<div style="margin:10px 0px 0px 10px" *ngFor="let dish of dishService.dishes">
			<dish-card [dish]="dish" (click)="getInfo(dish)"></dish-card>
		</div>
	</div>
</div>

<div *ngIf="dishService.isLoadingDishes" fxLayoutAlign="center start" fxFlex style="margin-top:50px">
	<md-progress-circle style="height:150px;width:150px" mode="indeterminate" color="primary"></md-progress-circle>
</div>
